<h1>Nowa fotka</h1>
<% form_for [@school, @picture], :html => { :multipart => true } do | f | %>
	<%= f.error_messages %>
	<p>
		<%= f.label :category_id, 'Kategoria:' %> <%= f.select :category_id, Category.all.map { |category| [category.name, category.id] } %>
	</p>
	<p>
		<%= f.label :image, 'Fotka:' %> <%= f.file_field :image %>
	</p>
	
	<p>
		<%= f.label :name, 'Nazwa' %><br/>
		<%= f.text_field :name %>
	</p>
	
	<span class="button">
		<%= f.submit 'Dodaj!' %>
	</span>
<% end %>